.layout {
    height: fit-content;
}
.site-layout-content {
    min-height: 470px;
    padding: 10px;
    background: #fff;
}

.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
}
[data-theme="dark"] .site-layout-content {
    background: #141414;
}

#dateForm {
    margin-left: 5%;
    margin-top: 2%;
    display: flex;
}

#dataForm {
    margin-left: 5%;
    margin-top: 2%;
    display: flex;
}


.inputDate {
    margin-top: 5%;
    width: 10rem;
    height: 3rem;
    font-size: 13px;
    border: none;
    border-radius: 10px;
}


.dataTitle {
    font-size: 25px;
    font-weight: bold;
}
.inputData {
    margin-top: 5%;
    margin-left: 2%;
    width: 7rem;
    height: 2rem;
    font-size: 13px;
    border: none;
    border-radius: 10px;
}

.selectForm {
    margin-left: 5%;
    margin-top: 2%;
    display: flex;
}
.select {
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 10%;
    width: 7rem;
    height: 2rem;
    border: none;
    border-radius: 10px;
}
.selectBox {
    margin-right: 80px;
}
#btnSubmit {
    margin-top: 3%;
    margin-left: 4%;
    width: 7rem;
    height: 2.5rem;
    background-color: #5f6061;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
}

#alert {
    margin-left: 4%;
    margin-top: 2%;
    width: 25rem;
}