
#chartBox {
    width: 80vw;
    height: 40vh;
    border-radius: 15px;
    margin-top: 5%;
    /*background-color: #F0F0FA;*/
    background-color: white;
}

#chart {
    margin-top: 5%;
    margin-left: 35%;
}
